<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Mobile support -->
<meta name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">

    <link rel="stylesheet" href="static/css/mdui.min.css?v=2873192a693ae603ce98084bbb84cb86"/>
<title>出错</title>
<script type="text/javascript" src="http://127.0.0.1/includes/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="static/js/mdui.min.js"></script>

  </head>
  <body class=" mdui-appbar-with-toolbar mdui-theme-primary-indigo mdui-theme-accent-pink" >

<header class="mdui-appbar mdui-appbar-fixed">
  <div class="mdui-toolbar mdui-color-theme">
    <a class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" href="/"><i class="mdui-icon material-icons">&#xe88a;</i></a>
    <a href="./" class="mdui-typo-headline mdui-hidden-xs">像素隐写生成</a>
      
        <div class="mdui-toolbar-spacer"></div>
    
    <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white" mdui-menu="{target: '#header-menu', fixed: true}"><i class="mdui-icon material-icons">&#xe5d4;</i></span>
    <ul class="mdui-menu" id="header-menu">
      <li class="mdui-menu-item">
        <a href="https://aoaoao.me" class="mdui-ripple">博客首页</a>
      </li>
      <li class="mdui-menu-item">
        <a href="https://github.com/zdhxiong/mdui" target="_blank" class="mdui-ripple">Github</a>
      </li>
    </ul>
  </div>
</header>
<div class="mdui-container">
<br>
<div class="mdui-card mdui-hoverable">

  <div class="mdui-card-actions">
<h1>出现错误，{{meg}}</h1>
  </div>
</div>
</div>
